.header__lang-link {
    text-decoration: none;
    color: #ffffff;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    margin-left: 18px;
    transition: .4s;
}

.header__lang-link:hover {
    opacity: .8;
}

@media screen and (max-width: 767px) {
    .header__lang-link {
        font-size: 18px;
        line-height: 20px;
    }
}