.place__title {
    grid-area: title;
    max-width: 100%;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    margin: 0;
    text-align: start;
    padding: 0;
}

@media screen and (max-width: 960px) {
    .place__title {
        font-size: 42px;
        line-height: 46px;
        padding: 0 10px 0 0;
        max-width: 97%;
    }
}

@media screen and (max-width: 767px) {
    .place__title {
        font-size: 32px;
        line-height: 35px;
        padding: 0 16px 0;
    }
}