.photo-grid {
    max-width: 1184px;
    max-height: 671px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 16px;
    align-content: center;
    justify-content: center;
    margin: 92px auto;
}