.intro__list {
    list-style: none;
    max-width: 690px;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 960px) {
    .intro__list {
        max-width: 720px;
    }
}

@media screen and (max-width: 540px) {
    .intro__list {
        max-width: 288px;
    }
}