.lead {
    margin: 0 auto;
    max-width: 984px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 1184px) {
    .lead {
        max-width: 928px;
    }
}

@media screen and (max-width: 960px) {
    .lead {
        max-width: 768px;
    }
}

@media screen and (max-width: 767px) {
    .lead {
        max-width: 320px;
    }
}