.footer__container {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}

@media screen and (max-width: 540px) {
    .footer__container {
        flex-direction: column;
        justify-self: start;
        align-content: flex-start;
    }
}