.content {
    display: grid;
    gap: 92px;
    padding: 0 48px;
    justify-content: center;
    justify-items: center;
    overflow: hidden;
}

@media screen and (max-width: 1184px) {
    .content {
        padding: 0;
    }  
}

@media screen and (max-width: 960px) {
    .content {
        gap: 88px;
    }
}

@media screen and (max-width: 540px) {
    .content {
        gap: 64px;
    }
}