.footer__link {
    text-decoration: none;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    color: #FFFFFF;
    margin: 0 18px 0 0;
}

.footer__link:hover {
    opacity: .8;
    transition: .4s;
}

@media screen and (max-width: 540px) {
    .footer__link {
        display: block;
        font-size: 24px;
        line-height: 24px;
        margin: 0 0 32px;
    }
}