.lead__image {
    max-width: 984px;
    min-height: 615px;
}

@media screen and (max-width: 1184px) {
    .lead__image {
        max-width: 928px;
        min-height: 580px;
    }
}

@media screen and (max-width: 960px) {
    .lead__image {
        max-width: 768px;
        min-height: 480px;
    }
}

@media screen and (max-width: 540px) {
    .lead__image {
        max-width: 320px;
        min-height: 200px;
    }
}