.intro {
    display: flex;
    flex-direction: column;
    justify-self: flex-start;
    margin: 0;
    padding-left: 100px;
    max-width: 984px;
}

@media screen and (max-width: 1184px) {
    .intro {
        max-width: 928px;
    }
}

@media screen and (max-width: 960px) {
    .intro {
        max-width: 720px;
    }
}

@media screen and (max-width: 540px) {
    .intro {
        max-width: 288px;
    }
}