.lead__subtitle {
    font-size: 30px;
    line-height: 36px;
    max-width: 640px;
    text-align: center;
    margin: 32px auto 64px;
}

@media screen and (max-width: 1184px) {
    .lead__subtitle {
        margin: 32px auto 56px;
    }
}

@media screen and (max-width: 540px) {
    .lead__subtitle {
        font-size: 16px;
        line-height: 20px;
        max-width: 288px;
        margin: 16px auto 40px;
    }
}