.cover {
   margin: 0 auto;
   padding: 0 48px;
}

@media screen and (max-width: 1184px) {
    .cover {
        padding: 0;
    }
}

@media screen and (max-width: 540px) {
    .cover {
        margin-top: 20px;
    }
}