.places__place {
    display: grid;
    grid-template-columns: repeat(2, minmax(min-content, max-content));
    grid-template-rows: repeat(2, minmax(min-content, max-content));
    grid-template-areas:
    "title website"
    "image text";
    margin: 0 0 80px;
    column-gap: 40px;
    row-gap: 48px;
}

.places__place:last-of-type {
    margin-bottom: 0;
}