.lead__caption {
    font-weight: normal;
    font-size: 10px;
    line-height: 14px;
    padding-top: 8px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}

@media screen and (max-width: 960px) {
    .lead__caption {
        padding: 6px 24px 0;
    }
}

@media screen and (max-width: 540px) {
    .lead__caption {
        padding: 6px 16px 0;
    }
}