.cover__title {
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    text-align: center;
    margin: 0;
    padding-bottom: 32px;
    max-width: 560px;
    z-index: 1;
}

@media screen and (max-width: 540px) {
    .cover__title {
        font-size: 32px;
        line-height: 35px;
        padding-bottom: 16px;
    }
}