.cover__title {
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    text-align: center;
    margin: 0;
    padding: 0 312px 32px;
    z-index: 1;
}

@media screen and (max-width: 1184px) {
    .cover__title {
        padding: 0 232px 32px;
    }
}

@media screen and (max-width: 960px) {
    .cover__title {
        padding: 0 104px 32px;
    }
}

@media screen and (max-width: 540px) {
    .cover__title {
        font-size: 32px;
        line-height: 35px;
        padding: 0 35px 16px;
    }
}