.lead__figure {
    max-width: 984px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    font-size: 0;
}

@media screen and (max-width: 1184px) {
    .lead__figure {
        min-width: 928px;
    }
}

@media screen and (max-width: 960px) {
    .lead__figure {
        min-width: 768px;
    }
}

@media screen and (max-width: 1184px) {
    .lead__figure {
        min-width: 320px;
    }
}