.footer {
    padding: 92px 0 24px;
    display: flex;
    justify-content: space-between;
    max-width: 1184px;
    margin: 0 auto;
}

@media screen and (max-width: 1184px) {
    .footer {
        padding-top: 88px;
        max-width: 928px;
    }
}

@media screen and (max-width: 960px) {
    .footer {
        padding: 88px 0 0;
        max-width: 720px;
    }
}

@media screen and (max-width: 767px) {
    .footer {
        padding: 64px 16px 24px;
        flex-direction: column;
        max-width: 288px;
    }
}