.footer {
    max-width: 100%;
    padding: 92px 48px 24px;
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 1184px) {
    .footer {
        margin: 0;
    }
}

@media screen and (max-width: 960px) {
    .footer {
        padding: 89px 24px 24px;
        margin: 0;
    }
}

@media screen and (max-width: 540px) {
    .footer {
        padding: 64px 16px 24px;
        margin: 0;
        flex-direction: column;
    }
}