.intro__title {
    max-width: 690px;
    text-align: start;
    font-weight: 900;
    font-size: 54px;
    line-height: 58px;
    margin: 0;
    padding-bottom: 40px;
}

@media screen and (max-width: 540px) {
    .intro__title {
        max-width: 250px;
        font-size: 32px;
        line-height: 35px;
    }
}